tbody {
    background-color: rgb(168, 209, 223);
    border-radius: 5%;
    height: 100%;
}
.title{
    font-size: 5vh;
    font-family: monospace;
    text-align: center;
    
}
table {
    justify-content: center;
    display: grid;
}
input[type="button"]{
    border-radius: 10px;
    background-color:rgb(0, 36, 81);
    color:rgb(234, 248, 255);
    border-color:rgb(2, 9, 31);
    width:100%;
    
}
input[type="text"]{
    border-radius:10px;
    text-align:center;
    background-color: rgb(2, 9, 31);
    color:rgb(234, 248, 255);
    border-color: rgb(234, 248, 255);
    width: auto;
}